.logo-anim {
  position: fixed;
  width: 100vw;
  height: 100vh; }
  .logo-anim svg {
    width: 50%;
    min-width: 300px;
    max-width: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    overflow: visible; }
  .logo-anim .letter,
  .logo-anim .ha,
  .logo-anim .ho,
  .logo-anim .ne,
  .logo-anim .icon-print,
  .logo-anim .icon-book,
  .logo-anim .icon-web,
  .logo-anim .claim,
  .logo-anim .plus-one {
    opacity: 0; }
  .logo-anim .plus-two,
  .logo-anim .plus-one {
    transform-origin: center center; }
  .logo-anim.bg {
    background: linear-gradient(0deg, #000000, #b7003c, #ffffff, #ffffff);
    background-size: 500% 500%;
    animation: 1.5s bg ease forwards; }

@keyframes bg {
  0% {
    background-position: 50% 0%; }
  100% {
    background-position: 50% 100%; } }
