.logo-anim {
	position: fixed;
	width: 100vw;
	height: 100vh;

	svg {
		width: 50%;
		min-width: 300px;
		max-width: 500px;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
		overflow: visible;
	}

	.letter,
	.ha,
	.letters-ho,
	.e,
	.n,
	.e-morph,
	.n-morph,
	.icon-print-rolle1,
	.icon-print-rolle2,
	.icon-book,
	.web,
	.claim,
	.plus-one  {
		opacity: 0;
	}

	.plus-two,
	.plus-one,
	.icon-book,
	.web {
		transform-origin: center center;
	}

	.bg {
		animation: bg-pan-bottom 8s forwards;
		background-image: linear-gradient(#cc6aa5,#3e91cc,#2dcca7);
		background-size: 100% 600%;
		position: absolute;
		width: 100%;
		height: 100%;
		overflow: hidden;
		top: 0;
		left: 0;
	}

	
}
.bg {
	background: linear-gradient(0deg,  #000000, #b7003c, #ffffff, #ffffff);
	background-size: 500% 500%;

	animation: 1.5s bg ease forwards;
}

@keyframes bg {
    0%{background-position:50% 0%}
    100%{background-position:50% 100%}
}
  




