$no8color: #bbbbbb;
$no8color2: #004466;
$no8color3: #E4E5E6;

body.no8{
	font-family: 'Delius Swash Caps', cursive;
	height: 100vh;
	text-align: center;
	color: $no8color2;
	background: $no8color3;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	overflow: hidden;
}
.wrapper-no8{ 
	position: relative;
	width: 50%;
	display: flex;
	align-items: center;
    justify-content: center;
	.penguin{
		width: 25%;

		.penguin-old{
			display: block;
		}

		.penguin-young{
			display: none;
		}

		.egg{
			display: none;
		}
	}
}  
