.anchor,
.anchor:visited{
  position: relative;
  display: inline;
  cursor: pointer;
  font-size: $font-s-anchor;
  line-height: 2.3rem;
  @extend .help-underline-green;

  @include bp(max, $screen-ml) {
    font-size: $font-s-anchor-small;
  }

  &:hover, 
  &:focus {
    color: $color-primary;
    @extend .help-underline-green-hover;
  }
}

.anchor-small{
  font-size: $font-s-anchor-small;
  cursor: pointer;

  .fas{
    padding-right: 5px;
  }

  + .main-title{
    margin-top: 20px; 
  }
}

.anchor--green,
.anchor-small.anchor--green{
  color: $color-primary;

  &:active,
  &:hover,
  &:focus{
    color: $color-black;
  }
}

.anchor-wrapper{
  &--margin-top{
    margin-top: rem-calc(20px);
  }
}