.title{
  &-h2,
  &-h3,
  &-h4{
    font-family: $font-family-primary;
    font-weight: 600;
  }

  &--regular{
    font-weight: 300;
    font-family: $font-family-secundary;
  }

  &-h2{
    margin-bottom: 40px;
    font-size: $font-s-h2;
    text-align: center;
    line-height: 1.1;

    @include bp(max, $phone){
      font-size: $font-s-h2-xs;
    }
  }
}

.main-title{
  font-family: $font-family-secundary;
  font-size: $font-s-main;
  font-weight: 300;
  line-height: 5rem;
  margin-bottom: 100px;
  text-align: center;
  &--bold{
    font-family: $font-family-primary;
    font-weight: 600;
  }
}



