.title{
  &-h2,
  &-h3,
  &-h4{
    font-family: $font-family-primary;
    font-weight: 600;
  }

  &--regular{
    font-weight: 300;
    font-family: $font-family-secundary;
  }
  &-h2-wrapper{
    display: flex;
    justify-content: center;
    animation: startani 0.3s linear 1s backwards;
  }
  &-h2{
    margin-bottom: 40px;
    font-size: $font-s-h2;
    text-align: center;
    line-height: 1.1;
    display: inline-block;
    position: relative;

    span{
      display: inline-block;
      position: relative;
      margin-bottom: 0;
    
    &.bird,
    &.bird:after,
    &.bird2{ 
      background-image: url('/birds.svg');
      opacity: 0;
      display:block;
      position: absolute;
      background-size: auto 100%;
      content: '';
      width: $widthBird2;
      height: $heightBird2;
      top: 0;
      left: 50%;
      animation-name: fly-cycle;
      animation-timing-function: steps(3);
      animation-iteration-count: infinite;
      animation-duration: 1s;
      animation-delay: -0.5s;		
    }
    
    &.bird2{ 
      left: 20%;
    }
  }

    &.isAnimationgOnHover{

      &:hover{
        span:nth-child(5n+1){
          animation: floating 3s -1s linear infinite;
        }
        span:nth-child(5n+2){
          animation: floating 4s -2s linear infinite;
        }
        span:nth-child(5n+3){
          animation: floating 5s -1s linear infinite;
        }
        span:nth-child(5n+4){
          animation: floating 3s -2s linear infinite;
        }
        span:nth-child(5n+5){
          animation: floating 6s -1s linear infinite;
        }
      }
    }

    @include bp(max, $phone){
      font-size: $font-s-h2-xs;
    }
  }
}

.main-title{
  font-family: $font-family-secundary;
  font-size: $font-s-main;
  font-weight: 300;
  line-height: 5rem;
  margin-bottom: 100px;
  text-align: center;
  animation: startani 0.3s linear 1s backwards;
  &--bold{
    font-family: $font-family-primary;
    font-weight: 600;
  }
  @include bp(max, $ipad-p){
      font-size: $font-s-main-s;
      line-height: 3rem;
      margin-bottom: 70px;
    }
  span{
    display: inline-block;
    position: relative;
    .bird,
    &.bird2,
    &.bird2b{
      background-image: url('/birds.svg');
      opacity: 0;
      display:block;
      position: absolute;
      background-size: auto 100%;
      content: '';
      width: $widthBird2;
      height: $heightBird2;
      top: 0;
      left: 0;
      animation-name: fly-cycle;
      animation-timing-function: steps(3);
      animation-iteration-count: infinite;
      animation-duration: 1s;
      animation-delay: -0.5s;		
    }
    &.bird2,
    &.bird2b{
      opacity: 0;
      top: 45px;
      left: -10px;
    }

    &.word{
      white-space: nowrap;
    }
  }
  &.isAnimationgOnHover{
    &:hover{
      span:nth-child(5n+1){
        animation: floating 3s -1s linear infinite;
      }
      span:nth-child(5n+2){
        animation: floating 4s -2s linear infinite;
      }
      span:nth-child(5n+3){
        animation: floating 5s -1s linear infinite;
      }
      span:nth-child(5n+4){
        animation: floating 3s -2s linear infinite;
      }
      span:nth-child(5n+5){
        animation: floating 6s -1s linear infinite;
      }
    }
  }
}


@keyframes floating {
  0% {
    transform: translateY(0);
  }
  25%{
    transform: translateY(3px);
  }
  50%{
    transform: translateY(0px);
  }
  75%{
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes flycycle {
  100% {
    background-position: -360px 0; 
  } 
}