//fontfamily
$font-family-primary: 'Montserrat', Arial, Helvetica, sans-serif;
$font-family-secundary: 'Lora', Times, serif;


//font-weight
$font-regular: 400;
$font-bold: 600;
$font-ultra-bold: 700;

//font-sizes
$font-s-h1: 60px;

$font-s-main: 85px;
$font-s-main-s: 57px;

$font-s-h2: 50px;
$font-s-h2-xs: 37px;
$font-s-h2-details: 25px;

$font-s-h3: 25px;
$font-s-h3-filter: 30px;
$font-s-h4: 18px;

$font-s-page-title: 18px;

$font-s-copytext: 16px;
$font-s-copytext-l: 18px;

$font-s-table: 18px;
$font-s-table-small: 16px;
 
$font-s-anchor: 18px;
$font-s-anchor-small: 16px;

$font-s-link: 15px;

$font-s-main-nav: 18px;
$font-s-main-nav-small: 16px;

$font-s-logo: 20px;

$font-s-button-wb: 22px;
$font-s-button: 20px;

$font-s-dropdown-item: 16px;

$font-s-image-box-text: 25px;
$font-s-image-galerie: 25px;

$font-s-prev-next: 14px;
$font-s-progressbar: 14px;

$font-s-button: 18px;

$font-s-icon: 18px;

$font-s-menu: 10px;





