//Border
$border-anchor: 3px solid $color-primary;

//transitions for underline from left to right
$transition-underline: .8s ease width;

//transitions for underline from center
$transition-underline-center: all 0.3s ease-in-out 0s;

$widthBird2: 60px;
$widthBird1: 30px;
$heightBird2: 33px;


